

.app-body{
    height: 100vh;
    width: 100vw;
    padding: 5rem 0rem;
}

.table{
    border: 2px double black;
    td,tr{
        text-align: center;
        button{
            margin: 0rem 0.5rem;
        }
    }
}